doctype html
html
	head
		title Google Mapping and Routing
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="./css/bootstrap.css")
		link(rel="stylesheet" href="./css/jquery-ui.css")
		link(rel="stylesheet" href="./css/main.css")
		link(rel="stylesheet" href="./css/style.css")
		script(src="./js/jquery.js")
		script(src="./js/bootstrap.min.js")
		script(src="./js/underscore.js")
		script(src="./js/jquery-ui.js" type="text/javascript")
	body
		.container-fluid
			.row
				.col-sm-12
					h1 Google Mapping and Routing
					#feedback
			.row
				.col-sm-4
					#directions.text-center
						input#theschool(type="hidden" name="spc" value="PL31 1DD")
						#dirs
				.col-sm-8
					#map

		script.
			$(document).ready(function(){

				/* Google Maps script */

				var directionService = "";
				var DirectionsRenderer = "";
				var myCentre = "";
				var marker = "";
				var latitude = 0;
				var longitude = 0;

				if (navigator.geolocation) {
					navigator.geolocation.getCurrentPosition(initMap);
				} else {
					document.getElementById("feedback").innerHTML = "Geolocation is not supported by this browser.";
				}

				function initMap(position) {
					feedback("init map fired");
					latitude = position.coords.latitude;
					longitude = position.coords.longitude;
					latlong = latitude + "," + longitude;
					myCentre = new google.maps.LatLng(latitude,longitude);
					directionsService = new google.maps.DirectionsService;
					directionsDisplay = new google.maps.DirectionsRenderer;
					var map = new google.maps.Map(document.getElementById('map'), {
						zoom: 14,
						center: {lat: latitude, lng: longitude},
						mapTypeId:google.maps.MapTypeId.ROADMAP
					});
					marker = new google.maps.Marker({
					    position: myCentre,
					    title: 'Your current position'
					});
					
					directionsDisplay.setMap(map);
					document.getElementById('dirs').innerHTML = "";
					var panel = document.getElementById('dirs');
					directionsDisplay.setPanel(panel);		
					marker.setMap(map);

					var end = document.getElementById('theschool').value;
					calculateAndDisplayRoute(directionsService, directionsDisplay, myCentre, marker, end);
				}
				
				function loadMap() {
					feedback("loadmap fired");
					if (navigator.geolocation) {
						navigator.geolocation.getCurrentPosition(initMap);
					} else {
						document.getElementById("feedback").innerHTML = "Geolocation is not supported by this browser.";
					}
				}

				function feedback(message){
					/* disabled after debugging */
					/*console.log(message);*/
					document.getElementById("feedback").innerHTML = message;
				}

				function calculateAndDisplayRoute(directionsService, directionsDisplay, myStart, marker, end) {
					marker.setMap(null);
					directionsService.route({
						origin: myStart,
						destination: end,
						travelMode: google.maps.TravelMode.DRIVING
					}, function(response, status) {
						feedback("calc route ok");
						if (status === google.maps.DirectionsStatus.OK) {

							directionsDisplay.setDirections(response);
						} else {
							feedback('Directions request failed due to ' + status);
						}
					});
				}
			});
		script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALvTff6jTscOGaURAC-wwjLSylq4HlObk&amp;callback=initMap")